@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root {
    --cor-branco: #FFFFFF;
    --cinza-secundario: #9BA4B5;
    --azul-botao:  #f00c27;
    --cor-fundo:#000000;
    --cor-destaque: #990113;
}
* {
    margin: 0;
    padding: 0;
}
.cabecalio {
    height: 40px;
    border-bottom: solid 1px;
    box-shadow: 1px 3px 7px #FFFFFF;
}
.logo__cabecalio {
    height: 45px;
}
.cabecalio__lista{
    display: flex;
    justify-content: space-between;
}
.entrar{
    text-align: center;
    width: 140px;
    height: 30px;
    padding-inline: 10px; 
    border-radius: 10px;
    line-height: 140%;
    padding-top: 1px;
    margin-top: 3px;
    margin-right: 2%;
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 20px;
    font-family:'Inter', sans-serif;
}

.entrar:hover{
    color: var(--cor-destaque);
}
.acesso{
    display: flex;
    justify-content: flex-end;
}
.links__cabecalio:hover{
    color: #990113;
}

body { 
    overflow-x: hidden;
    background-color:var(--cor-fundo);
    color: var(--cor-branco);
    box-sizing: border-box;
    padding-bottom: 1%;
    padding-top: 0px;
    zoom: 90%;
    
}

.principal{
    display: flex;
    align-items: center;
    margin: 10%;
   margin-top: 3%;
    gap: 30px;
}
.principal__conteudo {
text-align: center;
gap: 30px;


}
.logo {
    height: 70px;
    padding: 5%;
}
.conteudo__titulo {
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}
.grupo__combo{}

.combo {
font-size: 25px;
font-weight:bold;
font-family: 'Inter', sans-serif;
padding: 1%;
margin: 1%;
}
.red{
    color: var(--cor-destaque);
    ;
}
.botao {
background-color: var(--cor-destaque);
padding: 16px;
border-radius: 8px;
color: var(--cor-branco);
display: block;
margin: 10px;
font-size: 20px;
font-family: 'Inter', sans-serif;;
text-decoration: none;
}
.botao:hover {
   background-color:  #490008;
   color: black;
   
}
.botao2 {
background-color: transparent;
padding: 16px;
border: 2px solid;
border-radius: 8px;
color: var(--cor-branco);
display: block;
margin: 10px;
font-size: 20px;
font-family:'Inter', sans-serif; ;
text-decoration: none;
}
.botao2:hover {
    background-color: #202020;
    color: var(--cor-branco);

}
.aviso {
    color: var(--cinza-secundario);
}


.principal__pg2{
    display: flex;
    align-items: center;
    margin: 10%;
    margin-top: 5%;
    gap: 30px;
}
.titulo__secundario {
    font-size: 40px;
    font-family: 'Inter', sans-serif;;;
}
.paragrafo__secundario {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.principal__pg3 {
    display: flex;
    align-items: center;
    margin: 10%;
    margin-top: 5%;
    gap: 30px;
}

.botao3 {
    background-color: var(--cor-destaque);
    padding: 16px;
    border-radius: 8px;
    color: var(--cor-branco);
    display: block;
    margin: 10px;
    margin-left: 170px;;
    font-size: 15px;
    font-family: 'Inter', sans-serif;;
    text-decoration: none;
    text-align: center;
    width: 200px;
    justify-content: space-between;
}
.botao3:hover {
    background-color:  #990113;
    color: black;
}

.ultimo__titulo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 5%;
    font-size: 40px;
    font-family: 'Inter', sans-serif;;
}

.lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: 'Inter', sans-serif;;
}

.principal__sec {
    text-align: center;
    
}
.logo__rodape{
    margin-left: 45%;
    margin-right: 50%;
    padding: 10px;
}
.lista__rodape{
    margin: auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;
    
}
.estilizar__lista {
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.rodape__texto {
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: var(--cinza-secundario);
}
.rodape {
padding: 20px;
margin-top: auto;
}

.lista__rodape a:hover{
    color: #990113;
}
